@model StreetFighter.Web.Models.FichaTecnicaModel

@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inicio">
    <h2>Ficha Técnica </h2>
</div>
    <h2><strong> @Model.Nome</strong></h2>
    <p>
        <img align="left" src="@Model.Imagem" />

        <strong>Nome:</strong> @Model.Nome<br>
        <strong>Nascimento:</strong> @Model.DataNascimento<br>
        <strong>Altura:</strong> @Model.Altura cm.<br>
        <strong>Peso:</strong> @Model.Peso kg.<br>
        <strong>Origem:</strong> @Model.Origem<br>
        <strong>Personagem:</strong> @Model.PersonagemOculto<br>
        <strong>Golpes especiais famosos:</strong> @Model.GolpesEspeciais<br>
    </p>



